@import '../../../sass/_main';

.player-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2.5rem;
  z-index: 1;

  & > * {
    margin-bottom: 1rem;
  }
}

.player-character-image {
  max-width: 100%;

  &-container {
    overflow: hidden;
    width: 12rem;
    height: 11rem;
    box-shadow: $box-shadow-primary;
    border-radius: 15px;

    &--active {
      box-shadow: $box-shadow-player-active;
    }
  }
}
