@mixin gameTableLayout($numPlayers) {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
}

@mixin generalStore {
  .general-store {
    grid-column: 2 / span 6;
    grid-row: 3;
    display: flex;
    justify-content: center;

    & > * {
      padding-right: 1rem;
    }
  }
}

@mixin player0 {
  .player0 {
    grid-column: 3 / span 4;
    grid-row: 8;
    align-self: flex-end;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;

    .player-info {
      &-container {
        align-self: center;
      }
    }

    .player-hand {
      margin-left: 1rem;
    }

    .player-equipments {
      left: 0;
      top: -70%;
    }

    .player-cards-in-play {
      transform: translate(30rem, -25rem);
    }
  }
}

@mixin player1($numPlayers) {
  @if $numPlayers == 2 {
    .player1 {
      grid-column: 4 / span 2;
      grid-row: 1;
      align-self: flex-start;
      justify-self: center;
      margin-top: 1rem;

      .player-equipments {
        left: $card-width * 2;
      }

      .player-hand {
        transform: translateX(3rem) rotate(5deg);
      }

      .player-cards-in-play {
        top: $card-height * 2;
      }
    }
  }

  @if $numPlayers == 4 {
    .player1 {
      grid-column: 4 / span 2;
      grid-row: 5;
      flex-direction: row;
      align-self: flex-start;
      justify-self: flex-start;
      margin-left: 1rem;

      .player-hand {
        transform: translate(10rem, 10rem) rotate(-65deg);
      }

      .player-cards-in-play {
        right: -10%;
      }

      .player-equipments {
        top: -$card-height;
      }
    }
  }

  @if $numPlayers == 5 {
    .player1 {
      grid-column: 4 / span 2;
      grid-row: 5;
      flex-direction: row;
      align-self: flex-start;
      justify-self: flex-start;
      margin-left: 1rem;

      .player-hand {
        transform: translate(10rem, 10rem) rotate(-65deg);
      }

      .player-cards-in-play {
        right: -10%;
      }

      .player-equipments {
        top: -$card-height;
      }
    }
  }

  @if $numPlayers == 6 {
    .player1 {
      grid-column: 1 / span 2;
      grid-row: 5;
      flex-direction: row;
      align-self: flex-start;
      justify-self: flex-start;
      margin-left: 1rem;

      .player-hand {
        transform: translate(10rem, 10rem) rotate(-65deg);
      }

      .player-cards-in-play {
        right: -10%;
      }

      .player-equipments {
        top: -$card-height;
      }
    }
  }

  @if $numPlayers == 7 {
    .player1 {
      grid-column: 1 / span 2;
      grid-row: 6;
      flex-direction: row;
      align-self: flex-start;
      justify-self: flex-start;
      margin-left: 1rem;

      .player-hand {
        transform: translate(10rem, 10rem) rotate(-65deg);
      }

      .player-cards-in-play {
        right: -10%;
      }

      .player-equipments {
        top: -$card-height;
      }
    }
  }
}

@mixin player2($numPlayers) {
  @if $numPlayers == 4 {
    .player2 {
      grid-column: 4 / span 2;
      grid-row: 1;
      align-self: flex-start;
      justify-self: center;
      margin-top: 1rem;

      .player-equipments {
        left: $card-width * 2;
      }

      .player-hand {
        transform: translateX(3rem) rotate(5deg);
      }

      .player-cards-in-play {
        left: -$card-width;
        top: $card-height * 0.2;
      }
    }
  }

  @if $numPlayers == 5 {
    // 2
    .player2 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
      align-self: flex-start;
      justify-self: center;
      margin-top: 1rem;

      .player-equipments {
        left: $card-width * 2;
      }

      .player-hand {
        transform: translateX(3rem) rotate(5deg);
      }

      .player-cards-in-play {
        left: -$card-width;
        top: $card-height * 0.2;
      }
    }
  }

  @if $numPlayers == 6 {
    .player2 {
      grid-column: 1 / span 2;
      grid-row: 2;
      flex-direction: row;
      align-self: flex-start;
      justify-self: flex-start;
      margin-left: 1rem;

      .player-hand {
        transform: translate(10rem, 10rem) rotate(-65deg);
      }

      .player-cards-in-play {
        right: -10%;
      }

      .player-equipments {
        top: -$card-height;
      }
    }
  }

  @if $numPlayers == 7 {
    // 2
    .player2 {
      grid-column: 1 / span 2;
      grid-row: 3;
      flex-direction: row;
      align-self: flex-start;
      justify-self: flex-start;
      margin-left: 1rem;

      .player-hand {
        transform: translate(10rem, 10rem) rotate(-65deg);
      }

      .player-cards-in-play {
        transform: translate(14rem, 3rem);
      }

      .player-equipments {
        top: -$card-height;
      }
    }
  }
}

@mixin player3($numPlayers) {
  @if $numPlayers == 4 {
    .player3 {
      grid-column: 7 / span 2;
      grid-row: 4 / span 2;
      flex-direction: row-reverse;
      align-self: center;
      justify-self: flex-end;
      margin-right: 1rem;

      .player-hand {
        transform: translate(-15rem, 0) rotate(80deg);
      }

      .player-cards-in-play {
        left: 0;
        top: 100%;
      }

      .player-equipments {
        top: -$card-height;
        right: 35%;
      }
    }
  }

  @if $numPlayers == 5 {
    // 3
    .player3 {
      grid-column: 5 / span 4;
      grid-row: 1 / span 2;
      align-self: flex-start;
      justify-self: center;
      margin-top: 1rem;

      .player-equipments {
        left: $card-width * 2;
      }

      .player-hand {
        transform: translateX(3rem) rotate(15deg);
      }

      .player-cards-in-play {
        left: -$card-width;
        top: $card-height * 0.2;
      }
    }
  }

  @if $numPlayers == 6 {
    .player3 {
      grid-column: 4 / span 2;
      grid-row: 1;
      align-self: flex-start;
      justify-self: center;
      margin-top: 1rem;

      .player-equipments {
        left: $card-width * 2;
      }

      .player-hand {
        transform: translateX(3rem) rotate(5deg);
      }

      .player-cards-in-play {
        left: -$card-width * 1.25;
      }
    }
  }

  @if $numPlayers == 7 {
    // 3
    .player3 {
      grid-column: 2 / span 3;
      grid-row: 1 / span 2;
      align-self: flex-start;
      justify-self: center;
      margin-top: 1rem;

      .player-equipments {
        left: $card-width * 2;
      }

      .player-hand {
        transform: translateX(3rem) rotate(5deg);
      }

      .player-cards-in-play {
        left: -$card-width;
        top: $card-height * 0.2;
      }
    }
  }
}

@mixin player4($numPlayers) {
  @if $numPlayers == 5 {
    .player4 {
      grid-column: 7 / span 2;
      grid-row: 4 / span 2;
      flex-direction: row-reverse;
      align-self: center;
      justify-self: flex-end;
      margin-right: 1rem;

      .player-hand {
        transform: translate(-15rem, 0) rotate(80deg);
      }

      .player-cards-in-play {
        left: 0;
        top: 100%;
      }

      .player-equipments {
        top: -$card-height;
        right: 35%;
      }
    }
  }

  @if $numPlayers == 6 {
    .player4 {
      grid-column: 7 / span 2;
      grid-row: 2 / span 2;
      flex-direction: row-reverse;
      align-self: center;
      justify-self: flex-end;
      margin-right: 1rem;

      .player-hand {
        transform: translate(-15rem, 0) rotate(80deg);
      }

      .player-cards-in-play {
        left: 0;
        top: 100%;
      }

      .player-equipments {
        top: -$card-height;
        right: 35%;
      }
    }
  }

  @if $numPlayers == 7 {
    // 4
    .player4 {
      grid-column: 5 / span 3;
      grid-row: 1 / span 2;
      align-self: flex-start;
      justify-self: center;
      margin-top: 1rem;

      .player-equipments {
        left: $card-width * 2;
      }

      .player-hand {
        transform: translateX(3rem) rotate(15deg);
      }

      .player-cards-in-play {
        left: -$card-width;
        top: $card-height * 0.2;
      }
    }
  }
}

@mixin player5($numPlayers) {
  @if $numPlayers == 6 {
    .player5 {
      grid-column: 7 / span 2;
      grid-row: 5 / span 3;
      flex-direction: row-reverse;
      align-self: center;
      justify-self: flex-end;
      margin-right: 1rem;

      .player-hand {
        transform: translate(-15rem, 0) rotate(80deg);
      }

      .player-cards-in-play {
        left: 0;
        top: 100%;
      }

      .player-equipments {
        top: -$card-height;
        right: 35%;
      }
    }
  }

  @if $numPlayers == 7 {
    // 5
    .player5 {
      grid-column: 7 / span 2;
      grid-row: 2 / span 3;
      flex-direction: row-reverse;
      align-self: center;
      justify-self: flex-end;
      margin-right: 1rem;

      .player-hand {
        transform: translate(-15rem, 0) rotate(80deg);
      }

      .player-cards-in-play {
        left: 0;
        transform: translate(0, 18rem);
      }

      .player-equipments {
        top: -$card-height;
        right: 30%;
      }
    }
  }
}

@mixin player6($numPlayers) {
  @if $numPlayers == 2 {
    .player1 {
      grid-column: 4 / span 2;
      grid-row: 1;
      align-self: flex-start;
      justify-self: center;
    }
  }

  @if $numPlayers == 6 {
    .player1 {
      grid-column: 4 / span 2;
      grid-row: 1;
      align-self: flex-start;
      justify-self: center;
    }
  }

  @if $numPlayers == 7 {
    // 6
    .player6 {
      grid-column: 7 / span 2;
      grid-row: 5 / span 2;
      flex-direction: row-reverse;
      align-self: flex-end;
      justify-self: flex-end;
      margin-right: 1rem;

      .player-hand {
        transform: translate(-15rem, 0) rotate(80deg);
      }

      .player-cards-in-play {
        left: 0;
        transform: translate(0, 18rem);
      }

      .player-equipments {
        top: -$card-height;
        right: 30%;
      }
    }
  }
}
