$color-primary: #ffd57e;
$color-secondary: #fca652;
$color-tertiary: #c74d10;
$color-tertiary-dark: #97441a;
$color-gray-light: #acacac;
$color-gray-dark: #646464;

$box-shadow-primary: 0px 2px 8px $color-gray-dark;
$box-shadow-card-active: 0px 2px 8px 6px $color-secondary;
$box-shadow-deck-active: 0px 0px 4px 10px $color-primary;

$card-border-radius: 10px;
$card-width: 9rem;
$card-height: 14rem;
