@import '../../sass/_main';

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background: $color-tertiary;
  border-radius: 5px;
  margin-right: 1.5rem;
  padding: 2rem 5rem;
  opacity: 0.9;
  box-shadow: $box-shadow-primary;
  cursor: pointer;

  &:active {
    transform: translate(0.1rem, 0.1rem);
    box-shadow: none;
  }

  &:hover {
    opacity: 1;
  }
}
