.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background: #db6145;
  border-radius: 5px;
  margin-right: 1.5rem;
  padding: 2rem 5rem;
  opacity: 0.9;
  box-shadow: 2px 2px 8px #b4541c;
  cursor: pointer;

  &:active {
    transform: translate(1px, 1px);
    box-shadow: none;
  }

  &:hover {
    opacity: 1;
  }
}
