@import '../../../sass/_main';

.card-pile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 15rem;
  border-radius: $card-border-radius;

  &:hover {
    box-shadow: $box-shadow-deck-active;
  }

  .card-image {
    box-shadow: 0px 1px 3px rgb(119, 119, 119);
  }
}
