@import '../../../sass/_variables';

.card-pile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  position: relative;

  &:hover {
    box-shadow: $box-shadow-deck-active-hover;
  }

  .card-image {
    box-shadow: $box-shadow-deck-card;
  }
}
