.draggable-card {
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(-50%);
  z-index: 10;

  &:hover {
    transform: translateX(-50%) translateY(-20%);
  }
}
