.change-name-link {
  position: absolute;
  top: 2rem;
  right: 2rem;

  &:visited {
    text-decoration: none;
    color: #fff;
  }
}

.character-card {
  height: 229px;
  width: 222px;
  object-fit: none;
  object-position: 57% 9%;
  border-radius: 7%;
}
