.change-name-link {
  position: absolute;
  top: 2rem;
  right: 2rem;

  &:visited {
    text-decoration: none;
    color: #fff;
  }
}

.character-card {
  height: 13.9rem;
  width: 12.22rem;
  object-fit: none;
  object-position: 57% 8%;
  border-radius: 7%;
}
